---
layout: default
---

            
<!-- {% include career-profile.html %} -->
            
{% if site.education_in_main %}
    {% include education.html %}
{% endif %}
            
{% include experience.html %}
            
{% include publications.html %}

{% include projects.html %}
            
{% include skills.html %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113790423-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113790423-1');
</script>
